In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datos_perfumes_perfumeriacom.csv")

In [3]:
df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.insert(0, 'tienda', "perfumeriacom")

In [5]:
def convertir_a_minusculas(valor):
    if isinstance(valor, str):
        return valor.lower()
    return valor

df = df.map(convertir_a_minusculas)

In [6]:
df['categoria'] = df['categoria'].str.replace('perfumes hombre', 'hombre')
df['categoria'] = df['categoria'].str.replace('perfumes mujer', 'mujer')

In [7]:
def mapear_tipos_y_limpiar(df):
    
    mapping = {
        'parfum'          : 'parfum',
        'cologne'         : 'eau de cologne',
        'agua de colonia' : 'eau de cologne',
        'acqua colonia'   : 'eau de cologne',
        'eau fraîche'     : 'eau fraîche'

    }

    for name, tipo in mapping.items():
        df.loc[df['nombre'].str.contains(name), 'tipo'] = tipo

    df['tipo'] = df['tipo'].str.strip()
    
    return df

mapear_tipos_y_limpiar(df)

,tienda,categoria,marca,nombre,tipo,precio_sin_desc,descuento,precio_con_desc,valoracion,num_valoraciones
0,perfumeriacom,hombre,issey miyake,l'eau d'issey pour homme intense,eau de toilette,"88,00€",62.556818,"32,95€",5.0,1
1,perfumeriacom,hombre,carolina herrera,chic for men,eau de toilette,"55,00€",32.818182,"36,95€",4.8,5
2,perfumeriacom,hombre,calvin klein,truth for men,eau de toilette,"70,00€",64.357143,"24,95€",5.0,4
3,perfumeriacom,hombre,paco rabanne,xs pour homme,eau de toilette,"89,00€",58.483146,"36,95€",5.0,4
4,perfumeriacom,hombre,montblanc,explorer platinum,eau de parfum,"106,00€",43.443396,"59,95€",5.0,3
...,...,...,...,...,...,...,...,...,...,...
2565,perfumeriacom,mujer,serge lutens,la fille de berlin,eau de parfum,"120,00€",41.708333,"69,95€",5.0,1
2566,perfumeriacom,mujer,bvlgari,eau parfumée au thé blanc,parfum,"80,00€",31.312500,"54,95€",5.0,1
2567,perfumeriacom,mujer,dior,poison girl unexpected,eau de toilette,"80,00€",12.562500,"69,95€",5.0,1
2568,perfumeriacom,mujer,guerlain,la petite robe noire ma robe plissée,eau de toilette,"95,00€",48.042105,"49,36€",5.0,1
2569,perfumeriacom,mujer,roger&gallet,extrait de cologne tubéreuse hédonie,eau de cologne,"62,00€",42.725806,"35,51€",5.0,1

In [8]:
def clean_prices(df, columns):
    for col in columns:
        
        df[col] = df[col].str.replace('[^0-9,]', '', regex=True) 
        df[col] = df[col].str.replace(',', '.', regex=True)
        df[col] = df[col].replace('', '0', regex=True)
        df[col] = df[col].astype(float)  

columns = ['precio_sin_desc', 'precio_con_desc']

clean_prices(df, columns)

In [9]:
df['descuento'] = df['descuento'].round(2)

In [10]:
columns = ['valoracion', 'num_valoraciones']

for col in columns:
    df[col] = df[col].replace(['sin valoracion', 'sin valoraciones'], np.nan)

In [11]:
df = df.drop_duplicates()

In [12]:
df['tipo'].value_counts()

tipo
eau de toilette    1220
eau de parfum       987
eau de cologne      145
parfum               84
eau fraîche          15
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2492 entries, 0 to 2569
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tienda            2492 non-null   object
 1   categoria         2492 non-null   object
 2   marca             2492 non-null   object
 3   nombre            2492 non-null   object
 4   tipo              2451 non-null   object
 5   precio_sin_desc   2492 non-null   float64
 6   descuento         2492 non-null   float64
 7   precio_con_desc   2492 non-null   float64
 8   valoracion        2492 non-null   float64
 9   num_valoraciones  2492 non-null   int64
dtypes: float64(4), int64(1), object(5)
memory usage: 214.2+ KB

In [14]:
lista_tipos = ['eau de parfum', 'eau de toilette', 'parfum', 'eau de cologne']
df = df[df["tipo"].isin(lista_tipos)].reset_index(drop=True)

In [15]:
df.to_csv('datos_perfumes_perfumeriacom_filtrados.csv', index=False)