In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datos_perfumes_perfumes24h.csv")

In [3]:
df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.insert(0, 'tienda', "perfumes24h")

In [5]:
def convertir_a_minusculas(valor):
    if isinstance(valor, str):
        return valor.lower()
    return valor

df = df.map(convertir_a_minusculas)

In [6]:
df['categoria'] = df['categoria'].str.replace('perfumes hombre', 'hombre')
df['categoria'] = df['categoria'].str.replace('perfumes mujer', 'mujer')

In [7]:
def mapear_tipos_y_limpiar(df):

    mapping = {
        'parfum'          : 'parfum',
        'cologne'         : 'eau de cologne',
        'agua de colonia' : 'eau de cologne',
        'eau fraîche'     : 'eau fraîche'
    }

    for name, tipo in mapping.items():
        df.loc[df['nombre'].str.contains(name), 'tipo'] = tipo

    df['tipo'] = df['tipo'].str.strip()
    
    return df

mapear_tipos_y_limpiar(df)

,tienda,categoria,marca,nombre,tipo,precio_sin_desc,descuento,precio_con_desc,valoracion,num_valoraciones
0,perfumes24h,hombre,issey miyake,l'eau d'issey pour homme intense,eau de toilette,"88,00€",62.556818,"32,95€",4.8,4
1,perfumes24h,hombre,carolina herrera,chic for men,eau de toilette,"55,00€",32.818182,"36,95€",4.5,2
2,perfumes24h,hombre,calvin klein,truth for men,eau de toilette,"70,00€",64.357143,"24,95€",5.0,1
3,perfumes24h,hombre,paco rabanne,xs pour homme,eau de toilette,"89,00€",58.483146,"36,95€",4.8,6
4,perfumes24h,hombre,montblanc,explorer platinum,eau de parfum,"106,00€",43.443396,"59,95€",4.8,6
...,...,...,...,...,...,...,...,...,...,...
3107,perfumes24h,mujer,alqvimia,agua de colonia anti-stress,eau de cologne,"45,00€",17.511111,"37,12€",5.0,7
3108,perfumes24h,mujer,hugo boss,the scent private accord,eau de parfum,"100,00€",37.050000,"62,95€",5.0,7
3109,perfumes24h,mujer,etro,heliotrope,eau de toilette,"76,00€",21.118421,"59,95€",5.0,7
3110,perfumes24h,mujer,thierry mugler,angel,eau de parfum,"65,00€",15.461538,"54,95€",5.0,7
3111,perfumes24h,mujer,guess,guess girl,eau de toilette,"55,00€",58.272727,"22,95€",5.0,1

In [8]:
def clean_prices(df, columns):
    for col in columns:
        
        df[col] = df[col].str.replace('[^0-9,]', '', regex=True) 
        df[col] = df[col].str.replace(',', '.', regex=True)
        df[col] = df[col].replace('', '0', regex=True)
        df[col] = df[col].astype(float)  

columns = ['precio_sin_desc', 'precio_con_desc']

clean_prices(df, columns)

In [9]:
df['descuento'] = df['descuento'].round(2)

In [10]:
columns = ['valoracion', 'num_valoraciones']

for col in columns:
    df[col] = df[col].replace(['sin valoracion', 'sin valoraciones'], np.nan)

In [11]:
df = df.drop_duplicates()

In [12]:
df['tipo'].value_counts()

tipo
eau de toilette    1248
eau de parfum       991
eau de cologne      140
parfum               91
eau fraîche          16
Name: count, dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2530 entries, 0 to 3111
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tienda            2530 non-null   object
 1   categoria         2530 non-null   object
 2   marca             2530 non-null   object
 3   nombre            2530 non-null   object
 4   tipo              2486 non-null   object
 5   precio_sin_desc   2530 non-null   float64
 6   descuento         2530 non-null   float64
 7   precio_con_desc   2530 non-null   float64
 8   valoracion        2530 non-null   float64
 9   num_valoraciones  2530 non-null   int64
dtypes: float64(4), int64(1), object(5)
memory usage: 217.4+ KB

In [14]:
lista_tipos = ['eau de parfum', 'eau de toilette', 'parfum', 'eau de cologne']
df = df[df["tipo"].isin(lista_tipos)].reset_index(drop=True)

In [15]:
df.to_csv('datos_perfumes_prefumes24_filtrados.csv', index=False)